@import url('https://fonts.cdnfonts.com/css/franklin-gothic');
.bold{
    font-weight: 500;
}

.franklin{
    font-family: 'Franklin Gothic', sans-serif;
}

#chart-section{
    margin-top: 50px;
    margin-bottom: 50px;
}


body{
    background-image: url(../pages/Assets/backDrop.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;    
}